{% extends "homepage/base.html" %}
{% block content %}
   <head>
    <meta charset="UTF-8">
    <title>queryResult</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 150%;
    position: relative;
    top: 100px;
}

td {
    font-family: "Apple LiGothic";
    font-size: 20px;
  border: 1px solid #f0ebe5;;
    background: #f0ebe5;
  text-align: center;
  padding: 8px;
}
th{
    font-family: "Apple LiGothic";
    text-align: center;
    background: #dfd7d7;
}

</style>
</head>
    <table>
{% if pkg.status == 0 %}
    <td><p style="font-family:'Apple LiGothic';text-align: center;font-size: 30px;color: #5f788a">your package {{ pkg.package_id }} has been updated successfully!</p></td>
{% else %}
    <td><p style="font-family:'Apple LiGothic';text-align: center;font-size: 30px;color: #5f788a">your package {{ pkg.package_id }} cannot be updated since it is on its way.</p></td>
{% endif %}
    </table>
{% endblock content %}